{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"printWidth": 90,
	"tabWidth": 2,
	"arrowParents": "avoid",
	"useTabs": true,
	"importOrder": [
		"^@/components/(.*)$",
		"",
		"^@/pages/(.*)$",
		"",
		"^@/assets/(.*)$",
		"",
		"^@/queries/(.*)$",
		"",
		"^@/services/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"",
		"^@/helpers/(.*)$",
		"",
		"^@/utils/(.*)$",
		"",
		"^@/constants/(.*)$",
		"",
		"^@/@types/(.*)$",
		"",
		"^@core/(.*)$",
		"",
		"^@server/(.*)$",
		"",
		"^@ui/(.*)$",
		"",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
