@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

.reviews-item {
	&__header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: 1rem;
	}

	&__author {
		@include font-h6;
	}

	.review-date {
		@include font-h8;
		opacity: $opacity-2;
	}

	.reviews-rating {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			@include font-h6;
		}

		&__value {
			@include font-h8;
		}
	}

	&__content {
		margin-top: 0.5rem;

		&-title {
			margin-bottom: 0.5rem;
			@include font-h6;
		}

		&-text {
			@include font-h8;
		}
	}
}
